@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #353535;
    font-family: Syne;
    overflow-x: hidden;
}
.lightmode {
    background-color: #756868;
    color: #f78d1c;
}