@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #353535;
    font-family: Montserrat;
    overflow-x: hidden;
    transition: #353535 ease-in-out 0.5s, color ease-in-out 0.5s;
}
.lightmode {
    background-color: #756868;
    color: #f78d1c;
}